<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <div style="margin-left: 20px; margin-right: 80%">
        <h2>--Log In</h2>
        <form method="post">
            {{ form | crispy }}
            {% csrf_token %}

{#        <button type="submit">Log In</button>#}
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
</body>
</html>
