/* static/css/base.css */
html {
	padding-top: 5px;
}

body {
    margin: 1%;
}

h1 {
}

.header {
    font-weight: bold;
    color: #ff0000;
}

.user {
    font-size: x-small;
}

.adverts-actions {
    margin: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #EBEBEB;
    border-radius: 15px;
    font-size: 0.85em;
    line-height: 1.2em;
    color: #808080;
}

.all-actions {
    margin: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #EBEBEB;
    border-radius: 15px;
    font-size: 0.85em;
    line-height: 1.2em;
    color: #808080;
}