{% extends 'mining/base.html' %}
{% load auth_extras %}

{% block title %}
    All actions
{% endblock title %}

{% block content %}
    {% if all_action_list %}
        <h2>Ваши последние действия</h2>
        <div class="all-actions">
            {% for action in all_action_list %}
                {% if user == action.author or user|has_group:"Администраторы" %}
                    <p><b><i>{{ action.timestamp }}</i></b> <a
                            href="{% url 'mining:advert_detail' action.advert.id %}">{{ action.advert.organization }}. {{ action.advert.post }}</a>. {{ action.action }}
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>Вы еще не совершили ни одного действия.</p>
    {% endif %}
{% endblock content %}
