{% extends 'mining/base.html' %}
{% load mining_tags %}
{% load crispy_forms_tags %}
{% load auth_extras %}

{% block title %}
    Adverts
{% endblock title %}

{% block content %}
    <div>
        <h1>{{ advert.organization }}. {{ advert.post }}</h1>
        <p>{{ advert.text|markdown }}</p>
    </div>

    <div>
        Оплата: {{ advert.salary }}
    </div>

    <div>
        Объявление опубликовано: {{ advert.pub_date }}
    </div>
    <div>
        Контакы: <strong>{{ advert.phone }}</strong> {{ advert.person }}
    </div>
    <hr>
    <h4>Действия по объявлению:</h4>
    <div class="adverts-actions">
        {% for action in actions %}
            {% if user == action.author or user|has_group:"Администраторы" %}
                <p><i><b>{{ action.timestamp }}</b>. {{ action.author }}: </i>{{ action.action }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <div>
        {% if new_action %}
            <h4>Действие добавлено.</h4>
        {% else %}
            <h4>Добавить новое действие:</h4>

            <form action="." method="post">
                {{ action_form | crispy }}
                {% csrf_token %}
                <p>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </p>
            </form>
        {% endif %}
    </div>
        <p><a href="{% url 'mining:advert_list' %}">К списку объявлений</a></p>
    </div>
{% endblock content %}