{% extends 'mining/base.html' %}
{% block title %}
    Adverts
{% endblock title %}
{% block content %}
    <div>
        <h2>Активные объявления</h2>
        {% if all_advert_list %}
            <ul>
                {% for advert in all_advert_list %}
                    <li>
                        <a href="{% url 'mining:advert_detail' advert.id %}">{{ advert.organization }}. {{ advert.post }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет ни одного объявления.</p>
        {% endif %}
    </div>
{% endblock content %}
