{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    {% load mining_tags %}
    {% load crispy_forms_tags %}
    {% load auth_extras %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div style="color: #ff0000">
    <h1>Jobmining</h1>
</div>

<div style="font-size: x-small">
    {% if user.is_authenticated %}
        Здравствуйте, <b>{{ user.username }}!</b> <a href="{% url 'mining:all_action_list' %}">Смотреть все действия</a>
        {#        {% if request.user|has_group:"Администраторы" %}#}
        {#            (Администратор)!#}
        {#        {% endif %}#}
        <p><a href="{% url 'account_logout' %}">Выйти</a></p>
    {% else %}
        Вы <b>НЕ</b> авторизованы
        <p>{% url 'account_login' %}</p>
        <p><a href="{% url 'account_login' %}">Авторизоваться</a></p>
    {% endif %}
</div>

<div class="container-fluid">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>